<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459427620409-7aejee26gq0bj7gv2hs77d64fi59cju9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459427620409-7aejee26gq0bj7gv2hs77d64fi59cju9</string>
	<key>API_KEY</key>
	<string>AIzaSyDBgkHypEbRlYyx1UQyEwrmNzYsXkvuxLU</string>
	<key>GCM_SENDER_ID</key>
	<string>459427620409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shiftspacegame.ballwars</string>
	<key>PROJECT_ID</key>
	<string>ball-warsio-46271965</string>
	<key>STORAGE_BUCKET</key>
	<string>ball-warsio-46271965.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459427620409:ios:1edea6d5ea22a697998fe8</string>
</dict>
</plist>